jupyter
jupyter_contrib_nbextensions
munch
matplotlib
seaborn
tqdm
click
Pillow
PyYAML
SoundFile
wandb
jiwer
pysndfx
pydub
audiomentations
praat-parselmouth
transformers
conformer
onnx
onnxruntime
toml
GPUtil
colorful
pyopenjtalk
mir_eval
yt-dlp
ginza
ja-ginza
jaconv
pykakasi
pyworld
